* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* common rules */

:root {
    --deep-black: black;
    --dark-gray: #282828;
    --deep-blue: #141922;
    --spoty-green: #ADFF2F;
    --playlist-gray: #a3a3a3;
    --side-icon: #d2d2d2;
    --main-font: white;
    --sub-font: gray;

    --side-nav-spacing: 15px;

    --side-nav-width: 250px;
    --side-nav-small-width: 60px;
    --common-height: 80px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* grandezza web app */
.app-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* sezione call to action */
.cta-container {
    display: flex;
    justify-content: flex-end;
}
.cta {
    position: fixed;
    display: flex;
    width: calc(100vw - var(--side-nav-width));
    height: var(--common-height);
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: flex-end;
}

.upgrade-btn {
    padding: 0.8em 2.3em;
    margin-right: var(--side-nav-spacing);
    text-transform: uppercase;
    color: var(--main-font);
    background-color: rgba(0,0,0,0.5);
    border: 1px solid var(--main-font);
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
}
.upgrade-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* main container */
.wrapper {
    display: flex;
    overflow: hidden;
    height: calc(100% - var(--common-height));
}


.side-nav {
    width: var(--side-nav-width);
    height: 100%;
    background-color: var(--deep-black);
    padding-left: var(--side-nav-spacing);
}

.side-nav li a:hover{
    color: var(--main-font);
}
.side-nav li a:hover svg{
    fill: var(--main-font);
}


.side-nav-top {
    width: 100%;
    height: calc(100% - var(--common-height));
    min-height: 400px;
}
.side-nav-top-top {
    height: 210px;
}

.logo {
    width: 180px;
    margin-top: var(--side-nav-spacing);
}
.logo.small {
    display: none;
}

.side-nav-link {
    width: 100%;
    margin-top: var(--side-nav-spacing);
}
.side-nav-link .side-nav-item {
    padding: 0.4em 0;
}
.side-nav-link .side-nav-item a{
    color: var(--sub-font);
}
.side-nav-link .side-nav-item svg{
    height: 1.5em;
    vertical-align: bottom;
    fill: var(--sub-font);
}
.side-nav-top-top > .side-nav-link .side-nav-item:first-child a {
    color: var(--side-icon);
}
.side-nav-top-top > .side-nav-link .side-nav-item:first-child a svg {
    fill: var(--side-icon);
}
.side-nav-top-top > .side-nav-link .side-nav-item:first-child {
    border-left: 3px solid var(--spoty-green);
    margin-left: -15px;
    padding-left: calc(var(--side-nav-spacing) - 3px);
}

/* playlist section */
.side-nav-playlist-container {
    width: 100%;
    height: calc(100% - 210px);
    overflow: hidden;
}

.section-title {
    color: var(--main-font);
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 20px;
}

.side-nav-playlist {
    width: 100%;
    height: 70%;
    overflow: auto;
}


.add-playlist {
    display: flex;
    align-items: center;
    height: 60px;
    cursor: pointer;
}
.add-playlist:hover .add-square{
    background-color: var(--main-font);
}
.add-playlist:hover .playlist-title{
    color: var(--main-font);
}

.add-square {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--playlist-gray);
    margin-top: 5px;
}
.add-square > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.playlist-title {
    color: var(--sub-font);
    font-size: 1em;
    margin-left: 10px;
    margin-top: 5px;
}

.side-nav-playlist .playlist-title {
    font-size: 0.9em;
    margin-top: var(--side-nav-spacing)
}

/* parte inferiore navbar sinistra */

.side-nav-bottom {
    width: 100%;
    height: var(--common-height);
}

.side-nav-bottom .account-name {
    display: inline-block;
    color: var(--main-font);
}
.side-nav-bottom svg {
    width: 20px;
    vertical-align: middle;
    fill: var(--sub-font);
}
.side-nav-bottom .account svg {
    width: 25px;
    vertical-align: bottom;
    margin-right: 10px;
    background-color: var(--sub-font);
    fill: var(--main-font);
    border-radius: 50%;
}
.side-nav-bottom h4 a {
    color: var(--sub-font);
    font-size: 0.9em;
    font-weight: normal;
}
.side-nav-bottom a:hover{
    cursor: pointer;
    color: var(--main-font);
}
.side-nav-bottom a:hover svg{
    fill: var(--main-font);
}

.side-nav-bottom hr {
    width: calc(100% - var(--side-nav-spacing));
    margin: 10px 0;
}

.account {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
    .logo.small {
        display: block;
        width: 30px;
    }

    .namelabel {
        display: none;
    }

    .side-nav-playlist-container {
        display: none;
    }

    .account {
        margin-top: 10px;
    }

    .side-nav {
        width: var(--side-nav-small-width)
    }

    .app-container .cta {
    width: calc(100vw - var(--side-nav-small-width));
    }

    .wrapper .core-main {
        width: calc(100vw - var(--side-nav-small-width));
    }
}

/* parte principale della colonna di destra */
.core-main {
    width: calc(100vw - var(--side-nav-width));
    height: calc(100vh - var(--common-height));
    background-color: var(--deep-blue);
}

/* barra di riproduzione del footer */
.footer-nav {
    display: flex;
    width: 100%;
    height: var(--common-height);
    background-color: var(--dark-gray);
    justify-content: space-between;
}

.current-song {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 1;
}

.current-song img{
    height: 70%;
    margin-right: 10px;
}

.name-info {
    display: inline-block;
    margin-right: 1.2em;
}

.current-song .playlist-name {
    font-size: 0.8em;
    color: var(--main-font);
}
.current-song .song-name {
    color: var(--sub-font);
    font-weight: normal;
    font-size: 0.7em;
}
.current-song .song-name:hover {
    text-decoration: underline;
    color: var(--main-font);
    cursor: pointer;
}

.song-action {
    margin: 0 0.5em;
    border: none;
    color: var(--sub-font);
    background-color: var(--dark-gray);
}
.song-action:hover {
    color: var(--main-font);
    cursor: pointer;
}

.song-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-shrink: 1;
}

.song-control-top {
    text-align: center;
}

.song-control-top .media-btn {
    font-size: 1em;
}
.song-control-top .media-btn.play {
    font-size: 1.5em;
}
.song-control-top .media-btn.play:hover {
    transform: scale(1.2);
}

.song-control-bottom {
    width: 100%;
    text-align: center;
}

.progress-bar-container{
    height: 3px;
    background-color: var(--sub-font);
    border-radius: 10px;
    cursor: pointer;
}
.progress-bar {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: var(--main-font);
}

.progress-bar-container.song {
    width: 60%;
    display: inline-block;
}

.time {
    font-size: 0.7em;
    margin: 0 1%;
    color: var(--main-font);
}

.media-btn {
    background-color: var(--dark-gray);
    border: none;
    color: var(--main-font);
    margin: 0 0.5em;
    cursor: pointer;
}

.media-options {
    display: flex;
    width: 200px;
    height: 100%;
    align-items: center;
    flex-shrink: 1;
}

.progress-bar-container.volume {
    width: 100px;
}

.progress-bar-container:hover .circle-volume {
    display: block;
    cursor: pointer;
}
.progress-bar-container:hover .progress-bar {
    background-color: var(--spoty-green);
}

.circle-volume {
    position: absolute;
    top: calc(50% - 7.5px);
    right: -7.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-font);
    cursor: pointer;
    display: none;
}